@tailwind base;
@tailwind components;
@tailwind utilities;

/* React Slider Styles override/customization if needed, though mostly handled via classNames in component */
.slider-thumb {
    z-index: 10;
}